<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="InputFile" value="C:\\Visula Studio projects\\Rabo_assignment\\Rabo_assignment\\Assignment\\Assignment\\Input.xlsx" />
		<add key="InputXML" value="C:\\Visula Studio projects\\Rabo_assignment\\Rabo_assignment\\Assignment\\Assignment\\records.xml" />
		<add key="InputXML_normal" value="C:\\Visula Studio projects\\Rabo_assignment\\Rabo_assignment\\Assignment\\Assignment\\records_normal.xml" />
		<add key="OutputXML_EndBalance" value="C:\\Visula Studio projects\\Rabo_assignment\\Rabo_assignment\\Rabo_assignment\\EndBalance.xml"/>
		<add key="OutputXML_Duplicate" value="C:\\Visula Studio projects\\Rabo_assignment\\Rabo_assignment\\Rabo_assignment\\DuplicateValues.xml"/>
	  <add key="logfile" value="C:\\Visula Studio projects\\Rabo_assignment\\Rabo_assignment\\Rabo_assignment\\LogFile.txt"/>
	</appSettings>
</configuration>